{% extends "base/base.html" %}
{% load static %}

{% block 'cabecalho' %}

<link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
<link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}
{% include 'partials/header.html' %}

<div class="container">
    <br>
    <br>
    <h3>Listagem de Desafios</h3>
    <BR>
    <div class="row">
        <div class="col-md">
            <form action="{% url 'listar_desafio' %}" method="GET">
                <label for="">Categoria</label>
                <select name="categoria" class="form-select">
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                    <option value="{{categoria.id}}" {% if categoria.id == categoriaSelecionada %}selected{% endif %} >{{categoria}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-md">
            <label for="">Dificuldade</label>
            <select name="dificuldade" class="form-select">
                <option value="">Todas</option>
                {% for dificuldade in dificuldades %}
                <option value="{{dificuldade.0}}" {{dificuldade.1}}  {% if dificuldade.0 == dificuldadeSelecionada %}selected{% endif %}>{{dificuldade.1}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md">
            <label for="">Status</label>
            <select name="status" class="form-select">
                <option value="">Todos</option>
                {% for status in statusList %}
                <option value="{{status.0}}" {{status.1}}  {% if status.0 == statusSelecionado %}selected{% endif %}>{{status.1}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md">
            <br>
            <input type="submit" value="Filtrar" class="btn-cadastro"  style="color:black;">
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="box-listar">
        <table>
            <thead>
                <tr>
                    <th scope="col">Desafio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Dificuldade</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for desafio in desafios %}
                <tr class="linha">
                    <th><a href="{% url 'desafio' desafio.id %}">#{{desafio.id}}</a></th>
                    <td>{{desafio.titulo}}</td>
                    <td>
                        <span class="{{desafio.css_dificuldade}}">
                            {{desafio.get_dificuldade_display}}
                        </span>
                        
                    </td>
                    {% comment %} Feito TODO: Fazer o status {% endcomment %}
                    <td ><span class="{{desafio.css_status}}">
                        {{desafio.get_status_display}}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}