{% extends "base/base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">            
    <link href="{% static 'apostilas/dist/bootstrap-tagsinput.css' %}" rel="stylesheet">
    


{% endblock 'cabecalho' %}


{% block 'conteudo' %}
    {% include "partials/header.html" %}
    <div class="container">        
        <br><br>
        <div class="row">
            <div class="col-md">

                <div class="box-form">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <form action="{%url 'adicionar_apostilas' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                        <p class="fonte-secundaria">Adicionar resumos</p>
                        <label>Titulo</label>
                        <input type="text" name="titulo" placeholder="titulo" class="form-control">
                        <br>                        
                        <label>Arquivo</label>
                        <input type="file" name="arquivo" class="form-control">
                        <br>
                        <label>Tags</label>
                        <br>
                        <input type="text" name="tags"   data-role="tagsinput"  />
                         
                        <br>

                        
                        
                        <br>


                        
                        <br>
                        <input type="submit" class="btn-cadastro" value="Enviar"  style="color:black;">
                    </form>
                </div>

            </div>
            <div class="col-md">

                <table>
                    <thead>
                      <tr>
                        <th scope="col"><center>Título</center></th>
                        <th scope="col"><center>Ação</center></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for apostila in apostilas %}
                            <tr class="linha">
                                <td>{{apostila.titulo}}</td>
                                <td><a href="{% url "apostila" apostila.id %}" style="color: black; text-decoration: none;" class="btn-cadastro">Abrir</a></td>
                            </tr>
                            <tr >
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor%}
                    </tbody>
                  </table>
                  <hr>
                  <p class="fonte-secundaria">Views totais: {{views_totais}}</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md">

                <div class="box-form">
                   
                    <form action="{%url 'buscar_apostilas' %}" method="GET" >{% csrf_token %}
                        <p class="fonte-secundaria">Buscar resumos por Tags</p>                                               
                        <input type="text" name="tags" value="{{ tagsBuscadas }}"   style="margin-right: 332px;"  data-role="tagsinput" />
                        <br> 
                        <br>                                                
                        <input type="submit" class="btn-cadastro" value="Buscar"  style="color:black;">
                    </form>
                </div>

            </div>
            <div class="col-md">

            </div>



    </div>

    

{% endblock 'conteudo' %}




